@import url(../css/bootstrap-3.3.7-dist/css/bootstrap.css);


@import url(../fonts/css/font-awesome.min.css);

.top_line {
	min-height: 40px;
	width: 100%;
	background: #0275bc;
}


/*Top menu*/
.top_menu i{
	padding-right: 5px;
}
.top_menu {
	padding-top: 10px;
}

.top_menu li {
	display: inline-block;
	margin-right: 20px;
}

.top_menu a {
	color: #fff;
	text-decoration: none;
}

.top_menu a:hover {
	text-decoration: underline;
}

.login{
    margin: 10px;
}
.login span a{
    color: #fff;
    padding-left: 7px;
}

/*---------------*/


/*Header*/
.header_h1{
    
}
.header {
	min-height: 100px;
	width: 100%;
	background: #ffffff;
}

.header img {
	max-width: 100%;
	max-height: 90px;
	margin-top: 5px;
	margin-left: 5%;
}


/*------------*/


/*Search*/

.search {
	margin-top: 35px;
	padding-bottom: 10px;
}

.search_button {
	color: rgba(105, 105, 105, 0.6);
	margin-left: -25px;
}

.search input {
	width: 250px;
	padding: 8px 10px;
	border-radius: 5px;
	border: 1px solid rgba(77, 166, 255, 0.54);
}


/*-------------*/

.main_menu {
	min-height: 50px;
	width: 100%;
	background: #0467a3;
}

.main_menu ul {
	margin: 0;
}

.main_menu li {
	display: block;
	height: 50px;
	padding: 15px;
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
	
}

.main_menu li:hover {
	background: rgba(0, 25, 46, 0.43);
	
	transition: .6s;
	border-radius: 0%;
}

.main_menu a {
	color: #fff;
	text-decoration: none;
}




.content{
	width: 100%;
	margin-top: 30px;
}

.anons{
    border-bottom: 1px solid #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}
.anons h3{
    padding-left: 15px;
    color: #5d5d5d
}
.anons img{
  width: 280px;
}


.center{
    text-align: center;
}
.margin-top40{
    margin-top: 40px;
}
.anons p{
    color: #5a5a5a;
    margin: 15px;
}


.footer{
   	margin-top: 50px;
	min-height: 30px;
    height: 40px;
	width: 100%;
	background: #606666;
    position: fixed;
    bottom: 0px;
}
.footer span{
    margin-top: 25px;
    float:right;
    color: #fff;
}

/*_----------LOGIN--------------*/
.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*-----------END LOGIN------------*/

/*-------News--------*/

.newsimg{
    max-width: 450px;
    text-align: center;
    float: left;
    padding: 25px;
}

.newsh2{
    text-align: center;
    margin-bottom: 35px;
    color: #5d5d5d
}

.newsp{
    color: #5a5a5a;
    margin: 15px;
    
    
}
/*-----end news-------*/


/*------music-------*/
.mush3{
    margin-top: -25px;
    margin-bottom: 15px;
    color: #5d5d5d;
}
.nav{
    text-align: center;
}
/*-------end music----*/

ul {
    list-style-type: none;
}
li{
    cursor: pointer;
}
.add_playlist{
    float: right;
}
.music_list{
    text-align: left;
}
.liborder li:hover {
    background: #fcfcfc;
    padding: 5px;
    border-radius: 8px;
}
.liborder li {
    padding: 5px;
}
audio{
    position: fixed;
    bottom: 40px;
    width: 60%;
}
#name{
    position: fixed;
    bottom: 70px;
}
.jp-playlist{
    padding-bottom: 50px;
}
.up-footer{
    padding-bottom:60px;
}